[Desktop Entry]
Version=1.0
Type=Application

Name=Hello World
Comment=Just testing.
Categories=Development;Education;

Icon=com.github.myteam.myapp
Exec=com.github.myteam.myapp
Terminal=false
